/* INDEX.PHP */

body {
	margin: 0;
	background-color: #eee;
	-webkit-font-smoothing: antialiased; /* font smoothing... */
	text-rendering: optimizeLegibility;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004); /* ... hasta acá */
	text-align: center;
	font-family: "Arial", sans-serif;
	font-size:80%;
	color: #555;
}
#background {
	width: 100%;
	opacity: 0.4;
	position: fixed;
	z-index: -1;
	top: 0;
	left: 0;
	overflow: hidden;
	margin: auto ;
}
#barra_recuadro_index {
	width: 100%;
	height: 170px;
	background-color: rgba(255,255,255,0.7);
	padding: 50px 0 50px 0;
	margin-top: 100px;
	text-align: center;
}
#recuadro_index {	
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	position: relative;
	z-index: 1;
	text-shadow: 0px 0px 10px rgba(0,0,0,0.3);
	/*margin: 0 auto;
	padding: 100px;*/
}
#index_logo{
	opacity: 0.05;
	position: absolute;
	top: -50px; bottom: 0; left: 0; right: 0;
	z-index: -1;
	margin: auto;
	width: 80%;
}
#form {
	display: inline-block; /* NECESARIO */
}
.boton{
	font-weight: bold;
	background-color: #aaaaff;
	border: 0;
	padding: 5px 10px 5px 10px;
	border-radius: 4px;
	color: white;
}/*
.boton:hover{
	background-color: #6666dd;
}
.boton:active{
	background-color: #000088;
}*/
.text_input{
	border: 1px solid #999;
	border-radius: 3px;
}
#errordiv {
	
}
#errormsg {
	color: #c00;
}
#screen {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: white;
	top: 0;
	z-index: 1000;
	display: block;
}
h1 {
}
/* MAIN.PHP */

#body_wrap{
	/*margin: 40px 100px;*/
}
#barra_recuadro_main {
	width: 100%;
	height: auto;
	overflow: hidden;
	display: block;
	background-color: rgba(255,255,255,0.7);
	padding: 50px 0 50px 0;
	margin-top: 100px;
	text-align: center;
}
#recuadro_main {	
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: auto;
	/*margin: 0 auto;
	padding: 100px;*/
}
#tabla{
	height : 1px;
	background-color: #fff4f4;
	text-align: center;
	border-collapse:collapse;
	box-shadow: 0px 0px 6px 0px #BBBBBB;
	vertical-align: middle;
	margin:0 auto;
}
.th_switches{
	color: #002266;
	font-weight:bold;
	background-color: #EEF6FF;
}
.td_switches{
	border : 1px solid #8899BB;
	width : 100px;
	padding: 10px;
	height : 100%;
}

#switch:hover{
	width: 101%;
}
a {
	text-decoration: none;
}
#output{
	width:200px;
	margin: 0  auto;
}