%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%	Este archivo configura variables básicas            %
%	para el funcionamiento del software de Domótica.	%
%	Si edita algo, hágalo con sensatez!					%
%	INSTRUCCIONES:										%
%		1) Edite las variables que desee				%
%		2) Ejecute el archivo 'makecode.sh'				%
%	El archivo generará nuevamente todo el código		%
%	fuente y lo compilará.								%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

%	Tamaño del buffer de entrada/salida usado para comunicación
%	cliente-servidor y servidor-arduino. No debe ser menor a 50

#define BUF_SIZE:200

% 	Tamaño del buffer donde se almacena el directorio del
%	puerto donde se conecta el arduino. No debe ser menor que 100

#define PATH_SIZE:100

%	1 si se quiere mensajes de información en la ejecución
% 	de los programas. 0 si se quiere modo silencioso.

#define VERBOSE:1
#define CVERBOSE:0

%	Cantidad de intervalos de horario seteables para cada dispositivo

#define NHORAS:1

%	Baudrate. Por defecto 9600. ESTO SE USABA CUANDO ERA CON ARDUINO

%#define BAUD:9600

%					DISPOSITIVOS. 
%	Acá se definen los dispositivos que podrán
%	controlarse. 
%	La manera de definirlos es:
%		1) Escribir palabra clave '#disp:'
%		2) Escribir nombre del dispositivo
%		3) Escribir dos puntos ':' y el número
%			del pin al que está conectado
%
%	Ejemplos:
%		#disp:luz_cocina:17
%		#disp:riego_patio:27
%	
%	luz_cocina está conectada a pin 17
%	riego_patio está conectado a pin 27
%
%	IMPORTANTE: Sólo se aceptan nombres con letras,
%	números y '_' (guión bajo).

#disp:LUZ_DE_LA_ENTRADA:2
#disp:RIEGO_PATIO_TRASERO:3

%%%%%%%%%%%%%%%%%%%%%%%%% FIN %%%%%%%%%%%%%%%%%%%%%%%%%%
